<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCMHammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCMHammer.Properties.Settings>
            <setting name="BinDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RetainDeviceConfigurationOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedSerialDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedJ2534Device" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDeviceType" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDevice4xCommunicationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLogSaveAsDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveResultsLogOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDebugLogOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
        </PCMHammer.Properties.Settings>
    </userSettings>
</configuration>