<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity  Name="PCMHammer" Version="3.0.0" Publisher="CN=NSFW"/>
  <Properties >
    <Logo>PackageLogo.png</Logo>
    <DisplayName>PCM Hammer</DisplayName>
    <PublisherDisplayName>PCMHacking.net</PublisherDisplayName>
  </Properties >

  

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements  DisplayName="PCM Hammer" Description="An open-source tool to read and write the flash memory of some Powertrain Control Modules that were used in GM vehicles from rougly 1999-2007." Square150x150Logo="MediumTile.png" Square44x44Logo="AppIcon.png">
        <uap:DefaultTile Square71x71Logo="SmallTile.png" Wide310x150Logo="WideTile.png" Square310x310Logo="LargeTile.png"/>
        <uap:SplashScreen Image="SplashScreen.png"/>
      </uap:VisualElements >
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
